<div class="card container tarjeta">
    <div class="row">
        <img src="../../../assets/default-user-img.jpg" alt="usuario" class="col">
    </div>
    <div class="row" >
        <b class="col">Nombre :</b><b class="col">{{this.user.name}}</b>
    </div>
    <hr>

    <div class="row" >
        <b class="col">Usuario :</b><b class="col">{{this.user.username}}</b>
    </div>
    <hr>

    <div class="row" >
        <b class="col">Email :</b><b class="col">{{this.user.email}}</b>
    </div>
    <hr>

    <div class="row" >
        <b class="col">Teléfono :</b><b class="col">{{this.user.phone}}</b>
    </div>
    <hr>

    <div class="row" >
        <b class="col">Sitio Web :</b><b class="col">{{this.user.website}}</b>
    </div>
    <hr>

    <div class="row" >
        <b class="col text-success">Dirección</b><br>
    </div>
    <div class="row" >
        <b class="col parrafado">Calle :</b><b class="col">{{this.user.address.street}}</b>
    </div>
    <div class="row" >
        <b class="col parrafado">Suite :</b><b class="col">{{this.user.address.suite}}</b>
    </div>
    <div class="row" >
        <b class="col parrafado">Código Postal :</b><b class="col">{{this.user.address.zipcode}}</b>
    </div>
    <div class="row" >
        <b class="col parrafado">Ciudad :</b><b class="col">{{this.user.address.city}}</b>
    </div>
    <hr>

    <div class="row" >
        <b class="col text-success">Compañía</b><br>
    </div>
    <div class="row" >
        <b class="col parrafado">Nombre :</b><b class="col">{{this.user.company.name}}</b>
    </div>
    <div class="row" >
        <b class="col parrafado">Frase :</b><b class="col">{{this.user.company.catchPhrase}}</b>
    </div>
    <div class="row" >
        <b class="col parrafado">Palabras Clave :</b><b class="col">{{this.user.company.bs}}</b>
    </div>
  

</div>