<div class="wrapper">
<ul class="nav bg-dark mLayout">
    <img class="" style="max-width: 3rem;" src="https://joelalbornoz.github.io/angular-project-joel-albornoz/assets/0.png">
    <li class=" nav-item">
      <a class="nav-link mlink" routerLink="/"><strong>Login</strong></a>
    </li>
    <li class="nav-item">
      <a class="nav-link mlink" routerLink="/users"><strong>Usuarios</strong></a>
    </li>
  </ul>
  <ng-content></ng-content>
</div>
  <footer class="page-footer font-small blue"> 
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://www.linkedin.com/in/joel-albornoz/" target="_blank"> Elias Joel Albornoz - Ayi & Asociados</a>
    </div>
  </footer>

  